//-------------------------------------------//
//----- KUTU DEFAULT
//-------------------------------------------//
.kutuDefault{
    .kutuHeaderDefault{
        display: none;
    }
    .kutuFooterDefault{
        display: none;
    }
}

//-------------------------------------------//
//----- ÖZELLİK FİLTRE
//-------------------------------------------//
.kutuBodyOzellikFiltre{
    > table {
        width: 100%;
    }
    #dvUrunKiyaslamaOzellik{
        position: relative;
        box-sizing: border-box;
        margin-bottom: 15px;
        padding: 9px;
        border: 1px solid rgba(151,151,151,0.4);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        &:before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 30px;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 57.13%, #FFFFFF 100%);
            
        }
        &.kapali{
            &:before{
                z-index: 0;
            }
        }
        .urunKiyaslamaOzellik_{
            &ozellikAd{
                display: block;
                position: relative;
                cursor: pointer;
                user-select: none;

                color: $cl3;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;

                &:after{
                    @extend [class^="icon-"];
                    @extend .icon-arrow-bottom-5:before;

                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all .3s cubic-bezier(0.8,0,0.5,1);
                }
                &.kapali{
                    &:after{
                        transform: translateY(-50%) rotate(90deg);
                    }
                }
            }
            &temizle{
                display: none;
            }
            &ozellikIcerik{
                margin-top: 5px;
                //max-height: 162px;
                height: 162px;
                overflow: auto !important;
                &:-webkit-scrollbar-track{
                    background-color: #{$cl10}20;
                }

                &::-webkit-scrollbar{
                    width: 6px;
                    background-color: #{$cl10}20;
                }

                &::-webkit-scrollbar-thumb{
                    border-radius: 7px;
                    background-color: $cl14;
                }

            }
        }
        .urunKiyaslamaOzellik_ozellik[rel] {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
        }
        .urunKiyaslamaOzellik{
            padding-left: 20px;
            position: relative;
            
            color: $cl3;
            font-size: 14px;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                display: inline-block;
                width: 12px;
                height: 12px;
                background: $white;
                border: 1px solid $cl15;
                transition: all .4s cubic-bezier(0.8,0,0.5,1);
                z-index: 1;
            }
            + .filter-count{
                padding-left: 4px;
                color: $cl3;
                font-size: 14px;
                font-style: normal;
            }
            &.link_selected{
                color: $cl6;
                &:before{
                    background: $cl6;
                    border: 1px solid $cl6;
                }
                + .filter-count{
                    color: $cl6;
                }
            }
        }
        
        &.series-filter{
            img{
                display: none;
            }
        }
    }
    
}
//-------------------------------------------//
//----- KATEGORİLER
//-------------------------------------------//
.kutuKategori{
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 9px;
    border: 1px solid rgba(151,151,151,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    .kutuHeaderKategori{
        display: block;
        position: relative;
        [id$="lbfKUTU_KATEGORI"]{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            color: $cl3;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            user-select: none;
            cursor: pointer;
        }
        
        &:after{
            @extend [class^="icon-"];
            @extend .icon-arrow-bottom-5:before;

            display: inline-block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s cubic-bezier(0.8,0,0.5,1);
        }
        &.kapali{
            &:after{
                transform: translateY(-50%) rotate(90deg);
            }
        }        
    }
    .kutuBodyKategori{
        .menuKategori{
            margin-top: 5px;
            li{
                display: none;
                &:before{
                    content: none;
                }
                > b{
                    display: none;
                }
                a{
                    display: inline-block;
                    position: relative;
                    color: $cl3;
                    font-family: $defaultFont;
                    font-size: 14px;
                    line-height: 27px;
                    &.active{
                        font-weight: 700;
                        color: $cl6;
                    }
                }
                i{
                    display: none;
                    margin-left: 4px;
                    color: $cl3;
                    font-size: 14px;
                    line-height: 27px;
                    font-style: normal;
                }
                ul{
                    margin-left: 8px;
                }
                //-------------------------------------------//
                //----- Mevcut kategori hireyarşisine göre gizle/göster
                //-------------------------------------------//
                &.s3{
                    display: block;
                }
                &.s4{
                    &.opened{
                        display: block;
                    }
                    //a.active{
                    //    font-weight: 700;
                    //    ~ {
                    //        ul {
                    //            li{
                    //                display: block;
                    //            }
                    //        }
                    //    }
                    //}
                }
                &.s5{
                    display: block;
                }
            }
        }
    }
}


@media (max-width: $breakpoint-large) {
    //-------------------------------------------//
    //----- FİLTRE HEAD
    //-------------------------------------------//
    .mobile-filters-head{
        margin-bottom: 12px;
        .mfh-btn{
            text-align: right;
        }
        .mobile-filter-btn{
            display: inline-flex;
            i{
                font-size: 16px;
            }
        }

        .mfh-text{
            text-align: center;
            color: $cl3;
            font-size: 16px;
            font-weight: 500;
            line-height: 29px;
            margin-bottom: 8px;
        }
    }
    //-------------------------------------------//
    //----- ÖZELLİK FİLTRE
    //-------------------------------------------//
    .kutuBodyOzellikFiltre{
        > table {
            width: 100%;
        }
        #dvUrunKiyaslamaOzellik{
            margin-bottom: 0;
            padding: 5px 15px 5px 20px;
            border: 1px solid rgba(151,151,151,0.4);
            margin-top: -1px;
            box-shadow: none;
            .urunKiyaslamaOzellik_{
                &ozellikAd{
                    font-weight: 500;
                }
                &temizle{
                    display: none;
                }
                &ozellikIcerik{
                    margin-top: 5px;
                    max-height: 162px;
                    //height: 162px;
                    overflow: auto !important;
                    &:-webkit-scrollbar-track{
                        background-color: #{$cl10}20;
                    }

                    &::-webkit-scrollbar{
                        width: 6px;
                        background-color: #{$cl10}20;
                    }

                    &::-webkit-scrollbar-thumb{
                        border-radius: 7px;
                        background-color: $cl14;
                    }

                }
            }
        }
    }
}