//-------------------------------------------//
//----- ems-prd-list-sort
//-------------------------------------------//
.ems-prd-list-prop{
    display: none;
    
}
.ems-prd-list-sort{
    //display: none;
}

//-------------------------------------------//
//----- URUN
//-------------------------------------------//
.ems-product-list{
    .ems-prd-list{
        .emosInfinite{
            @extend .uk-grid;
            .ems-prd{
                @extend .uk-width-1-5\@m;
                @extend .uk-width-1-3\@s;
                @extend .uk-width-1-2;
                margin-bottom: 16px;
                .ems-prd-inner{
                    height: 100%;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
                    position: relative;
                }
                //-------------------------------------------//
                //----- CONTENT MASK
                //-------------------------------------------//
                .ems-prd-mask{

                }
                .ems-prd-image{
                    height: 160px;
                    border-bottom: 4px solid $cl6;
                    > a{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        > img{
                            height: 100%;
                        }
                    }
                }

                //-------------------------------------------//
                //----- CONTENT MASK
                //-------------------------------------------//
                .ems-prd-content-mask{
                    padding: 8px 7px 16px;
                }
                .ems-prd-name{
                    height: 32px;
                    overflow: hidden;
                    color: $cl3;
                    font-size: 14px;	
                    line-height: 16px;
                }
                
                .ems-prd-desc{
                    padding: 0 7px;
                    position: absolute;
                    left: 0;
                    top: auto;
                    z-index: 2;
                    width: 100%;
                    > a {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        background: $white;
                        max-height: 130px;
                    }
                    &:hover {
                        > a {
                            white-space: normal;
                        }
                    }
                }

                .ems-brand{
                    position: relative;
                    margin-top: 20px;
                    .ems-brand-name{
                        margin: 5px 0;
                        color: $cl14;
                        font-size: 12px;
                        line-height: 22px;
                        cursor: pointer;
                    }
                    &.passive{
                        opacity: 0;
                    }
                }
                .ems-brand-drop{
                    display: none;
                    min-width: 500px;
                    background: $white;
                    padding: 4px;
                    border-radius: 3px;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
                    &:before,
                    &:after{
                        content: "";
                        border-style: solid;
                        position: absolute;
                        top: 50%;
                    }
                    &.uk-drop-right-center{
                        &:before,
                        &:after{
                            border-color: rgba(0,0,0,0) rgba(74, 74, 74, .1) rgba(0,0,0,0) rgba(0,0,0,0);
                            border-width: 12px 12px 12px 0px;
                            left: 0;
                            transform: translate(-100%, -50%);
                        }
                        &:after{
                            border-color: rgba(0,0,0,0) $white rgba(0,0,0,0) rgba(0,0,0,0);
                            border-width: 10px 10px 10px 0px;
                            z-index: 1;
                        }
                    }
                    &.uk-drop-left-center{
                        &:before,
                        &:after{                        
                            border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) rgba(74, 74, 74, .1);
                            border-width: 12px 0px 12px 12px;

                            right: 0;
                            transform: translate(100%, -50%);
                        }
                        &:before{
                            border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) $white;
                            border-width: 10px 0px 10px 10px;
                            z-index: 1;
                        }
                    }
                }
                &.brand-popup-active{
                    .ems-brand-drop.uk-open{
                        display: block;
                    }
                }
                
                .ems-brand-drop-body{
                    .ems-brand-img{
                        img{
                            display: inline-flex !important;
                        }
                    }
                }
                .ems-brand-drop-footer{
                    .ems-brand-link {
                        text-align: right;
                        a{
                            color: $cl3;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 16px;
                        }
                    }
                }

                .ems-prd-compare-group{
                    display: inline-block !important;
                    margin-top: 5px;
                    cursor: pointer;
                    .ems-prd-compare{
                        .sStylerWrp_checkbox{
                            display: inline-block;
                            line-height: 1;
                            margin-right: 4px;
                        }
                        [id$="lbfOZS_KOD"]{
                            display: inline-block !important;
                            color: $cl3;
                            font-size: 10px;
                            line-height: 18px;
                            vertical-align: bottom;
                        }
                    }
                }
                
            }

            &.swiper-wrapper{
                flex-wrap: nowrap;
            }
        }
    }
}


@media (max-width: $breakpoint-large) {
    //-------------------------------------------//
    //----- URUN
    //-------------------------------------------//
    .ems-product-list{
        .ems-prd-list{
            .emosInfinite{
                .ems-prd{
                    margin-bottom: 8px;
                }
            }
        }
    }
}