//-------------------------------------------//
//----- TEXT STYLES
//-------------------------------------------//
//----- H1
//-------------------------------------------//
h1, .h1{
    font-size: 72px;
    font-weight: 400;
    color: $cl2;
    line-height: 1.81;

    &.light-bold{
        font-weight: 700;
        color: $white;
    }
}

//-------------------------------------------//
//----- H3
//-------------------------------------------//
h3, .h3{
    font-size: 48px;
    font-weight: 700;
    color: $cl4;
    line-height: 87px;
}

//-------------------------------------------//
//----- H4
//-------------------------------------------//
h4, .h4{
    font-size: 40px;
    font-weight: 700;
    color: $cl6;
    line-height: 64px;
}

//-------------------------------------------//
//----- H5
//-------------------------------------------//
h5, .h5{
    font-size: 32px;
    color: $cl7;
    line-height: 58px;
}

//-------------------------------------------//
//----- H6
//-------------------------------------------//
h6, .h6{
    font-size: 32px;
    font-weight: 700;
    color: $white;
    line-height: 64px;
}