[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-yikanma-alanlari:before {
    content: "\e98f";
  }
  .icon-v-design:before {
    content: "\e9cd";
  }
  .icon-refresh:before {
    content: "\e9cc";
  }
  .icon-arrow-top:before {
    content: "\e958";
  }
  .icon-arrow-right:before {
    content: "\e99d";
  }
  .icon-arrow-bottom:before {
    content: "\e99e";
  }
  .icon-arrow-left:before {
    content: "\e9a1";
  }
  .icon-arrow-top-2:before {
    content: "\e9a2";
  }
  .icon-arrow-right-2:before {
    content: "\e9a3";
  }
  .icon-arrow-bottom-2:before {
    content: "\e9a4";
  }
  .icon-arrow-left-2:before {
    content: "\e9a5";
  }
  .icon-arrow-top-5:before {
    content: "\e9a6";
  }
  .icon-arrow-right-5:before {
    content: "\e9a7";
  }
  .icon-arrow-bottom-5:before {
    content: "\e9a8";
  }
  .icon-arrow-left-5:before {
    content: "\e9a9";
  }
  .icon-arrow-top-4:before {
    content: "\e9ad";
  }
  .icon-arrow-right-4:before {
    content: "\e9ae";
  }
  .icon-arrow-bottom-4:before {
    content: "\e9af";
  }
  .icon-arrow-left-4:before {
    content: "\e9b0";
  }
  .icon-arrow-top-3:before {
    content: "\e9b1";
  }
  .icon-arrow-right-3:before {
    content: "\e9b2";
  }
  .icon-arrow-bottom-3:before {
    content: "\e9b3";
  }
  .icon-arrow-left-3:before {
    content: "\e9b4";
  }
  .icon-remove1:before {
    content: "\e9b6";
  }
  .icon-signin:before {
    content: "\e9bf";
  }
  .icon-logout:before {
    content: "\e9c0";
  }
  .icon-check:before {
    content: "\e9c4";
  }
  .icon-close:before {
    content: "\e9c5";
  }
  .icon-star-solid:before {
    content: "\e99f";
  }
  .icon-star:before {
    content: "\e9a0";
  }
  .icon-close2:before {
    content: "\e99c";
  }
  .icon-tri-top:before {
    content: "\e997";
  }
  .icon-tri-right:before {
    content: "\e999";
  }
  .icon-tri-bottom:before {
    content: "\e929";
  }
  .icon-tri-left:before {
    content: "\e998";
  }
  .icon-yukari:before {
    content: "\e99a";
  }
  .icon-ileri:before {
    content: "\e942";
  }
  .icon-asagi:before {
    content: "\e93c";
  }
  .icon-geri:before {
    content: "\e99b";
  }
  .icon-ticari-zeminler-2:before {
    content: "\e97e";
  }
  .icon-oynat:before {
    content: "\e962";
  }
  .icon-dosya-genel1:before {
    content: "\e927";
  }
  .icon-kapat-cikis-yap-2:before {
    content: "\e944";
  }
  .icon-artema-armaturler:before {
    content: "\e97b";
  }
  .icon-yukleniyor:before {
    content: "\e990";
  }
  .icon-favori-iconu-secilmemis:before {
    content: "\e938";
  }
  .icon-favori-iconu-secilmis:before {
    content: "\e939";
  }
  .icon-yukseklik:before {
    content: "\e991";
  }
  .icon-artema-dus-sistemleri:before {
    content: "\e903";
  }
  .icon-armatur-tamamlayicisi:before {
    content: "\e900";
  }
  .icon-artema-aksesuarlar:before {
    content: "\e901";
    color: #4a4a4a;
  }
  .icon-asimetrik:before {
    content: "\e904";
  }
  .icon-balkon-teras:before {
    content: "\e906";
  }
  .icon-banyo:before {
    content: "\e907";
  }
  .icon-banyo-aksesuarlari-diger-aksesuarlar-havlupan1:before {
    content: "\e908";
  }
  .icon-banyo-aksesuarlari-setler:before {
    content: "\e909";
  }
  .icon-banyolar:before {
    content: "\e90b";
  }
  .icon-banyo-mobilyasi:before {
    content: "\e90c";
  }
  .icon-banyo-serileri1:before {
    content: "\e90e";
  }
  .icon-bumpy .path1:before {
    content: "\e916";
    color: rgb(0, 0, 0);
  }
  .icon-bumpy .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(151, 151, 151);
  }
  .icon-derinlik:before {
    content: "\e921";
  }
  .icon-diagonal:before {
    content: "\e922";
  }
  .icon-diger-yikanma-alani-secenekleri1:before {
    content: "\e924";
  }
  .icon-dogal-kaplama:before {
    content: "\e926";
  }
  .icon-dus-dirsekleri:before {
    content: "\e92b";
  }
  .icon-eviye-bataryalari1:before {
    content: "\e936";
  }
  .icon-genislik:before {
    content: "\e93b";
  }
  .icon-kaplama:before {
    content: "\e945";
  }
  .icon-klozet:before {
    content: "\e949";
  }
  .icon-laminam:before {
    content: "\e952";
  }
  .icon-mozaik:before {
    content: "\e95c";
  }
  .icon-mutfak-bataryalari:before {
    content: "\e95e";
  }
  .icon-mutfak-eviyeleri-mutfak-urunleri1:before {
    content: "\e95f";
  }
  .icon-mutfak-eviyeleri-seramik-banyo-urunleri:before {
    content: "\e960";
  }
  .icon-mutfak-urunleri:before {
    content: "\e961";
  }
  .icon-simetrik:before {
    content: "\e972";
  }
  .icon-v-care:before {
    content: "\e989";
  }
  .icon-ceramic:before {
    content: "\e91d";
  }
  .icon-marble:before {
    content: "\e959";
  }
  .icon-mermer:before {
    content: "\e95b";
  }
  .icon-cement:before {
    content: "\e91c";
  }
  .icon-beton:before {
    content: "\e911";
  }
  .icon-wood:before {
    content: "\e98a";
  }
  .icon-stone:before {
    content: "\e977";
  }
  .icon-seramik:before {
    content: "\e96e";
  }
  .icon-tas:before {
    content: "\e97a";
  }
  .icon-ahsap:before {
    content: "\e992";
  }
  .icon-kuvetler:before {
    content: "\e902";
  }
  .icon-lavabo-bataryasi:before {
    content: "\e905";
  }
  .icon-fiyat-listesi:before {
    content: "\e90a";
  }
  .icon-koleksiyonlar:before {
    content: "\e90d";
  }
  .icon-ilham-veren-fikirler:before {
    content: "\e90f";
  }
  .icon-tum-urunler:before {
    content: "\e910";
  }
  .icon-tum-fikirlere-don:before {
    content: "\e912";
  }
  .icon-arama:before {
    content: "\e913";
  }
  .icon-page:before {
    content: "\e914";
  }
  .icon-tumunu-indir:before {
    content: "\e915";
  }
  .icon-banyo-planlayicisi:before {
    content: "\e918";
  }
  .icon-uygulamalar:before {
    content: "\e919";
  }
  .icon-karsilastir:before {
    content: "\e91a";
  }
  .icon-dosya-genel:before {
    content: "\e91b";
  }
  .icon-sana-uygun-urunu-bul:before {
    content: "\e91e";
  }
  .icon-tag:before {
    content: "\e91f";
  }
  .icon-user:before {
    content: "\e920";
  }
  .icon-setting:before {
    content: "\e923";
  }
  .icon-404-1:before {
    content: "\e925";
  }
  .icon-503-1:before {
    content: "\e928";
  }
  .icon-all:before {
    content: "\e92a";
  }
  .icon-eye:before {
    content: "\e92c";
  }
  .icon-page-1:before {
    content: "\e92d";
  }
  .icon-search-border:before {
    content: "\e92e";
  }
  .icon-hamburger:before {
    content: "\e92f";
  }
  .icon-user-border:before {
    content: "\e930";
  }
  .icon-acc-list:before {
    content: "\e931";
  }
  .icon-listemden-cikar:before {
    content: "\e932";
  }
  .icon-ekle-kaldir:before {
    content: "\e933";
  }
  .icon-add:before {
    content: "\e934";
  }
  .icon-remove:before {
    content: "\e935";
  }
  .icon-close-border:before {
    content: "\e937";
  }
  .icon-email:before {
    content: "\e93a";
  }
  .icon-servisler-ve-satis-noktalari:before {
    content: "\e93d";
  }
  .icon-kataloglar:before {
    content: "\e93e";
  }
  .icon-satis-noktasi:before {
    content: "\e93f";
  }
  .icon-map-locator:before {
    content: "\e940";
  }
  .icon-yetkili-servis:before {
    content: "\e941";
  }
  .icon-brochure:before {
    content: "\e943";
  }
  .icon-note:before {
    content: "\e946";
  }
  .icon-basin-odasi:before {
    content: "\e947";
  }
  .icon-danisma-hatti:before {
    content: "\e948";
  }
  .icon-facebook:before {
    content: "\e94a";
  }
  .icon-faq:before {
    content: "\e94b";
  }
  .icon-instagram:before {
    content: "\e94c";
  }
  .icon-youtube:before {
    content: "\e94d";
  }
  .icon-pinterest:before {
    content: "\e94e";
  }
  .icon-twitter:before {
    content: "\e94f";
  }
  .icon-info:before {
    content: "\e950";
  }
  .icon-karo-seramikler:before {
    content: "\e951";
  }
  .icon-banyo-karolari:before {
    content: "\e953";
  }
  .icon-yer-karolari:before {
    content: "\e954";
  }
  .icon-duvar-karolari:before {
    content: "\e955";
  }
  .icon-ev-ici-kullanim:before {
    content: "\e956";
  }
  .icon-endustriyel-zeminler:before {
    content: "\e957";
  }
  .icon-dis-cephe:before {
    content: "\e95a";
  }
  .icon-havuz:before {
    content: "\e95d";
  }
  .icon-ticari-zeminler:before {
    content: "\e963";
  }
  .icon-mutfah-tezgah-arkasi:before {
    content: "\e964";
  }
  .icon-sirsiz-porselen:before {
    content: "\e965";
  }
  .icon-sirli-porselen:before {
    content: "\e966";
  }
  .icon-doublecharge-porselen:before {
    content: "\e967";
  }
  .icon-banyo-serileri:before {
    content: "\e968";
  }
  .icon-colorbody-porselen:before {
    content: "\e969";
  }
  .icon-yikanma-alani-bataryalari:before {
    content: "\e96a";
  }
  .icon-seramik-banyo-urunleri:before {
    content: "\e96b";
  }
  .icon-lavabo-dolaplari:before {
    content: "\e96c";
  }
  .icon-mutfak-eviyeleri-mutfak-urunleri:before {
    content: "\e96d";
  }
  .icon-bide:before {
    content: "\e96f";
  }
  .icon-lavabo:before {
    content: "\e970";
  }
  .icon-pisuvar:before {
    content: "\e971";
  }
  .icon-hela-tasi:before {
    content: "\e973";
  }
  .icon-tamamlayici-urunler:before {
    content: "\e974";
  }
  .icon-banyo-setleri:before {
    content: "\e975";
  }
  .icon-tezgah:before {
    content: "\e976";
  }
  .icon-diger-moduller:before {
    content: "\e978";
  }
  .icon-aksesuar-banyo-aksesuarlari:before {
    content: "\e979";
  }
  .icon-cop-kovalari:before {
    content: "\e97c";
  }
  .icon-setler:before {
    content: "\e97d";
  }
  .icon-banyo-aksesuarlari-diger-aksesuarlar-havlupan:before {
    content: "\e97f";
  }
  .icon-sabunluk-dis-fircalik:before {
    content: "\e980";
  }
  .icon-havluluk-askilik:before {
    content: "\e981";
  }
  .icon-tuvalet-kagitligi-tuvalet-fircasi:before {
    content: "\e982";
  }
  .icon-armaturler:before {
    content: "\e983";
  }
  .icon-armaturler-musluklar:before {
    content: "\e984";
  }
  .icon-yikanma-alani-bataryalari1:before {
    content: "\e985";
  }
  .icon-eviye-bataryalari:before {
    content: "\e986";
  }
  .icon-bide-bataryalari:before {
    content: "\e987";
  }
  .icon-diger-yikanma-alani-secenekleri:before {
    content: "\e988";
  }
  .icon-kompakt-unite:before {
    content: "\e98b";
  }
  .icon-dus-kanali:before {
    content: "\e98c";
  }
  .icon-yikanma-alanlari-aksesuar-tabure:before {
    content: "\e98d";
  }
  .icon-masajli-dus-sistemi:before {
    content: "\e98e";
  }
  .icon-dus-sistemleri:before {
    content: "\e993";
  }
  .icon-el-dusu-takimlari:before {
    content: "\e994";
  }
  .icon-surgulu-el-dusu-takimi:before {
    content: "\e996";
  }
  .icon-dus-bassligi:before {
    content: "\e9aa";
  }
  .icon-dus-kolonu:before {
    content: "\e9ab";
  }
  .icon-rezervuarlar:before {
    content: "\e9ac";
  }
  .icon-rezervuar-seti:before {
    content: "\e9b5";
  }
  .icon-kumanda-paneli-son:before {
    content: "\e9b7";
  }
  .icon-gomme-rezervuar:before {
    content: "\e9b8";
  }
  .icon-tasiyici-aparat:before {
    content: "\e9b9";
  }
  .icon-beyaz:before {
    content: "\e9ba";
  }
  .icon-siyah:before {
    content: "\e9bb";
  }
  .icon-pastel-tonlar .path1:before {
    content: "\e9bc";
    color: rgb(194, 190, 213);
  }
  .icon-pastel-tonlar .path2:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(175, 226, 218);
  }
  .icon-pastel-tonlar .path3:before {
    content: "\e9be";
    margin-left: -1em;
    color: rgb(244, 215, 214);
  }
  .icon-pastel-tonlar .path4:before {
    content: "\e9c1";
    margin-left: -1em;
    color: rgb(245, 185, 172);
  }
  .icon-krem-tonlari .path1:before {
    content: "\e9c2";
    color: rgb(217, 209, 188);
  }
  .icon-krem-tonlari .path2:before {
    content: "\e9c3";
    margin-left: -1em;
    color: rgb(238, 235, 220);
  }
  .icon-krem-tonlari .path3:before {
    content: "\e9c6";
    margin-left: -1em;
    color: rgb(240, 232, 221);
  }
  .icon-krem-tonlari .path4:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgb(213, 207, 201);
  }
  .icon-canli-renkler .path1:before {
    content: "\e9c8";
    color: rgb(1, 230, 117);
  }
  .icon-canli-renkler .path2:before {
    content: "\e9c9";
    margin-left: -1em;
    color: rgb(0, 176, 255);
  }
  .icon-canli-renkler .path3:before {
    content: "\e9ca";
    margin-left: -1em;
    color: rgb(255, 23, 68);
  }
  .icon-canli-renkler .path4:before {
    content: "\e9cb";
    margin-left: -1em;
    color: rgb(61, 90, 254);
  }
  .icon-toprak-tonlari .path1:before {
    content: "\e9ce";
    color: rgb(110, 49, 5);
  }
  .icon-toprak-tonlari .path2:before {
    content: "\e9cf";
    margin-left: -1em;
    color: rgb(72, 39, 20);
  }
  .icon-toprak-tonlari .path3:before {
    content: "\e9d0";
    margin-left: -1em;
    color: rgb(186, 159, 120);
  }
  .icon-toprak-tonlari .path4:before {
    content: "\e9d1";
    margin-left: -1em;
    color: rgb(108, 74, 26);
  }
  .icon-boy-dolaplari:before {
    content: "\e9d2";
  }
  .icon-ayna:before {
    content: "\e9d3";
  }
  .icon-hidromasaj-sistemleri:before {
    content: "\e9d4";
  }
  .icon-dus-teknesi:before {
    content: "\e9d5";
  }
  .icon-spa-welness-yikanma-alanlari:before {
    content: "\e9d6";
  }