$white      : #ffffff;
$black      : #000000;

$cl1       : #4A5465;
$cl2       : #393939;
$cl3       : #4A4A4A;
$cl4       : #6F6F6F;
$cl5       : #F2F2F2;
$cl6       : #973129;
$cl7       : #003A5C;
$cl8       : #f9f9f9;
$cl9       : #978B82;
$cl10      : #D8D8D8;
$cl11      : #A8AFA6;
$cl12      : #F6F6F6;
$cl13      : #D7D7D7;
$cl14      : #9B9B9B;
$cl15      : #979797;
$cl16      : #5E5751;

$error     : #E92434;