.tr-TR{
    $lbf_EkleBtn            : "Ekle" !global;
    $lbf_TeknikOzellikler   : "Teknik Özellikler" !global;
    $lbf-koleksiyon         : "Koleksiyonu" !global;
}

.en-US{
    $lbf_EkleBtn            : "Ekle" !global;
    $lbf_TeknikOzellikler   : "Teknik Özellikler" !global;
    $lbf-koleksiyon         : "Koleksiyonu" !global;
}